.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  width: 182px;
  height: 32px;
  margin: 30px 0 0 64px;
  z-index: 1;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 120px;
  font-style: bold;

}

.header__subtitle {

  z-index: 2;
  width: 338px;
  margin: 0 0 30px 64px;
  line-height: 25px;
  font-size: 18px;
}

.header__link {

}

.header__main-illustration {
  position:absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
